/* All */
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

/* Header */
header h1{
    padding: 15px 25px 0px 25px;
    color: steelblue;
}
header h3{
    margin-top: -50px;
    padding: 15px 25px 15px 25px;
}

/* Main */
main{
    padding: 10px 100px 5px 100px;
}
.flex{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.flex div{
    border-radius: 50px;
}
.flex .about{
    flex: 3;
    height:420px;
    font-size: large;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex .image{
    background-color: aliceblue;
    background-image: url(../media/profilephone.png);
    background-size: cover;
    background-position: center bottom;
    flex: 4;
    height: 420px;
}

/* Footer */
footer ul{
    padding: 0px 60px 0px 60px;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
}
footer ul li{
    background-color: steelblue;
    list-style: none;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}