body{
    color: black;
    font-family: sans-serif;
}
.spotify{
    display: flex;
    border-radius: 25px;
}
#artist{
    padding: 0 25px 25px 25px;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#artist h1{
    font-weight: lighter;
    padding-top: 0;
}
#artist img{
    width: 500px;
    height: 550px;
    border-radius: 5px;
}
.trackDiv{
    padding: 75px 25px 0px 25px;
    flex: 2;
}
#tracks{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0;
}
#tracks li{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#tracks li img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
#tracks li p{
    font-weight: lighter;
}
#tracks li audio{
    width: 250px;
}
.form{
    padding: 0 25px 0 25px;
    display: flex;
    justify-content: center;
}
footer{
    margin-top: -10px;
    text-align: center;
    font-weight: lighter;
}
