*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Sans Narrow', sans-serif;
    width: 100%;
}
.shipping{
    background-color: rgb(28,27,27);
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.nav{
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    height: 50px;
    position: sticky;
    top: 0;
    padding: 10px 50px;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    transition: all .5s;
}
.nav.transparent{
    background-color: transparent;
    border-bottom: 1px solid black;
    color: black;
}
.nav .chunk{
    padding: 10px;
    width: 250px;
}
.nav .chunk.left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}
.nav .chunk.left h3{
    cursor: pointer;
}
.nav .chunk.center{
    background-image: url("https://cdn.shopify.com/s/files/1/0024/4350/9869/files/web.logo.script.black_150x@2x.png?v=1674193189");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav .chunk.center.transparent{
    background-image: url("https://cdn.shopify.com/s/files/1/0024/4350/9869/files/web.logo.script.black_150x@2x.png?v=1674193189");
}
.nav .chunk.right{
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
}
.nav .chunk.right img{
    height: 25px;
    width: 525x;
    cursor: pointer;
}

.hero{
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
    height: 200px;

    color: black;
    text-transform: uppercase;
    font-weight: lighter;


    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.hero h1{
    font-size: 40px;
}
.hero p{
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 40px;
    transition: all 0.5s;
    cursor: pointer;
}

.community{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.community .text{
    width: 500px;
    text-align: center;
}
.community .text h1{
    padding: 20px;
}
.community .text p{
    padding: 10px;
}
.community .text .underline{
    text-decoration: underline;
    cursor: pointer;
}
.community .text .underline:hover{
    text-decoration: none;
}

.shopGrid{
    background-color: gray;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.shopGrid .chunk{
    flex: 2;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;

    transition: all 0.25s;
    cursor: pointer;
}
.shopGrid .chunk:hover{
    flex: 3;
}
.shopGrid .chunk.left{
    background-color: lightgray;
    background-image: url("https://cdn.shopify.com/s/files/1/0024/4350/9869/files/home_apparel2_750x960_crop_center.jpg?v=1669181462");
    background-position: center;
    background-size: cover;

}
.shopGrid .chunk.center{
    background-color: gray;
    background-image: url("https://cdn.shopify.com/s/files/1/0024/4350/9869/files/home_acc2_750x960_crop_center.jpg?v=1669181763");
    background-position: center;
    background-size: cover;
}
.shopGrid .chunk.right{
    background-color: steelblue;
    background-image: url("https://cdn.shopify.com/s/files/1/0024/4350/9869/files/home_hats4_750x960_crop_center.jpg?v=1669181386");
    background-position: center;
    background-size: cover;
}
.flex{
    height: 600px;
    background-color: whitesmoke;
    display: flex;
}
.flex .left{
    flex: 1;
    background-color: whitesmoke;

    display: flex;
    text-align: center;
    align-items: center;
}
.flex .left p{
    margin: 25%;
    font-size: 30px;
}
.flex .right{
    flex: 1;
    background-image: url("https://cdn.shopify.com/s/files/1/0024/4350/9869/files/ATL.Meetup.Overhead_900x.jpg?v=1680887300");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
