body{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;

    width: 100%;
}

/* HEADER */
header{
    background-color: white;
    display: flex;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    left: 0;
    top: 0;

    height: 60px;

    border-bottom-style: solid;
    border-bottom-width: thin;
}
header .left{
    flex: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
    font-size: 25px;

    border-right-style: solid;
    border-right-width: thin;
}
header .center{
    flex: 10;
    
    display: flex;
    align-items: center;
}
header .center ul{

    width: 75%;
    list-style: none;
    display: flex;
    justify-content: space-around;

    padding: 0 25px 0 25px;
}
header .right{
    flex: 3;

    display: flex;
    align-items: center;
}
header .right ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    padding: 0 10px 0 10px;
}
header .right ul li{
    height: 40px;
    width: 85px;

    border-style: solid;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 12px;
}
header .right ul .signUp{
    background-color: black;
    border-color: black;
    color: white;
}

/* MAIN PAGE */
main{
    margin: 60px 0 0 0;
}
main .landing{
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: black;
}
main .landing .top{
    background-color: darkgreen;
    color: #c3f53c;

    height: 600px;
    font-size: 60px;
    font-weight: 800;

    display: flex;
    align-items: center;
    justify-content: center;
}
main .landing .bottom{
    background-color: #c3f53c;

    height: 60px;
    font-weight: bold;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
}

main .sideScroll{
    background-color: steelblue;
    height: 600px;

    border-bottom-style: solid;
    border-width: thin;
    border-color: black;
}
main .sideScroll .header{
    padding: 50px 0 0 100px;
    font-size: 60px;
    font-weight: 400;
}
main .sideScroll .scrolling{
    height: 500px;
    padding: 20px 0 20px 0;

    white-space: nowrap;
    overflow-x: scroll;
}
main .sideScroll .scrolling .card{
    background-color:aquamarine;
    border-radius: 25px;
    margin: 0 20px 0 0;
    height: 400px;
    width: 500px;
    display: inline-block;
    
    
}